{{> header}}
<div class="container">
    <div class="row bg-light text-dark">
        <h1>Movie title: {{currMovie.title}}</h1>

        <div class="col-md-8">
            <img class="img-thumbnail" src={{currMovie.imageURL}} alt="Movie">
        </div>
        <div class="col-md-4 text-center">
            <h3 class="my-3 ">Movie Description</h3>
            <p>{{currMovie.description}}</p>
            {{#if isCreator}}
            <a class="btn btn-danger" href="#/delete/{{params.id}}">Delete</a>
            <a class="btn btn-warning" href="#/edit/{{params.id}}">Edit</a>
            {{else}}
            <a class="btn btn-primary" href="#/details/{{params.id}}">Like</a>
            {{/if}}
            <span class="enrolled-span">Liked: {{currMovie.likes.length}}</span>
        </div>
    </div>
</div>
{{> footer}}